Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

generate-compilation-database-metadatadtype:
  name: Generate compilation database [metadatadtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd metadatadtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-asciidtype:
  name: Generate compilation database [asciidtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd asciidtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-quaddtype:
  name: Generate compilation database [quaddtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd quaddtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-unytdtype:
  name: Generate compilation database [unytdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd unytdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-stringdtype:
  name: Generate compilation database [stringdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd stringdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

remove unused ss_data
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

expand ssdup docstring
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

deal with removal of np.unicode_
  stringdtype/tests/test_char.py
  stringdtype/tests/test_stringdtype.py
Due: none

use PyMem allocators instead of malloc/free
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

remove usage of np.unicode_ from asciidtype
  asciidtype/tests/test_asciidtype.py
Due: none

refactor to avoid get_loop use in string to unicode cast
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

replace ss with npy_static_string
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

rename len to size in npy_static_string struct
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

access string internals via functions
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

namespace static string sentinel macros
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

implement small string optimization
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

refactor to use a packing/unpacking API
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

fix clearing errors
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

move macros for short string implementation out of the header
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

clean up error handling in string allocation functions
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

Silence warning about unnecessary initialization
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

add overflow checks in add and multiply ufuncs
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

make NPY_MAX_STRING_SIZE publicly visible
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

check for creating strings that are too large
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

make NA behavior for cast to string and cast to unicode match
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

fix numpy-user-dtypes CI
  asciidtype/asciidtype/src/asciidtype_main.c
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/quaddtype/src/quaddtype_main.c
  stringdtype/stringdtype/src/main.c
  stringdtype/tests/test_char.py
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

work around pandas numpy pin
  .github/workflows/ci.yml
Due: none

Refactor so malloc/free are accessed via an allocator
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

update doc comments in static_string.h
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

Refactor to use an arena allocator
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

refactor npy_string_newsize to call npy_string_newemptysize
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

we're not using the sizes in the sidecar buffer so don't store them
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

rename npy_load_string to npy_string_load
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

fix fencepost error in arena malloc
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

make tests use long strings more often
  stringdtype/tests/test_stringdtype.py
Due: none

fix incorrect MAX_STRING_SIZE calculation
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

fix handling for heap strings that were short strings
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

handle case where a string must be freed and copied from and to the same arena
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

adapt to upstream PR changes
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
Due: generate-compilation-database-stringdtype

update dtype API version in all dtypes
  asciidtype/asciidtype/src/asciidtype_main.c
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/quaddtype/src/quaddtype_main.c
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype

fix compiler warning on CI
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

build a debugoptimized stringdtype
  .github/workflows/ci.yml
Due: none

set build type in build invocation
  .github/workflows/ci.yml
Due: none

revert a525a16a72
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

xfail string too large error test for now
  stringdtype/tests/test_stringdtype.py
Due: none

Path conditions:
  generate-compilation-database-metadatadtype: any of: metadatadtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-asciidtype: any of: asciidtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-quaddtype: any of: quaddtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-unytdtype: any of: unytdtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-stringdtype: any of: stringdtype/(meson\.build$|.*\.(c|h)$)
