Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

generate-compilation-database-metadatadtype:
  name: Generate compilation database [metadatadtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd metadatadtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-asciidtype:
  name: Generate compilation database [asciidtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd asciidtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-quaddtype:
  name: Generate compilation database [quaddtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd quaddtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-unytdtype:
  name: Generate compilation database [unytdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd unytdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-stringdtype:
  name: Generate compilation database [stringdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd stringdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

Implement StringScalar in C
  stringdtype/meson.build
  stringdtype/pyproject.toml
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/scalar.py
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/scalar.c
  stringdtype/stringdtype/src/scalar.h
Due: generate-compilation-database-stringdtype

Move the scalar back to python
  stringdtype/meson.build
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/scalar.py
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/scalar.c
  stringdtype/stringdtype/src/scalar.h
Due: generate-compilation-database-stringdtype

slightly faster using PyUnicode_FromStringAndSize
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

Add comment explaining why getitem returns a str
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

Add an add ufunc
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Initial support for missing data
  stringdtype/meson.build
  stringdtype/pyproject.toml
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/missing.py
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

bump dtype API version for all dtypes
  .pre-commit-config.yaml
  asciidtype/asciidtype/src/asciidtype_main.c
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/quaddtype/src/quaddtype_main.c
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype

Respond to review comments
  stringdtype/stringdtype/src/dtype.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

refactor zero-filling to use a traversal loop
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

Specify that dtypes are not pure python in meson config
  asciidtype/meson.build
  metadatadtype/meson.build
  mpfdtype/meson.build
  quaddtype/meson.build
  stringdtype/meson.build
  unytdtype/meson.build
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

Add explanatory comment for setitem with NA branch
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

Make it possible for users to use a custom NA value
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Add a multiply ufunc
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Fix error handling in add_promoter
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

Use `binary_resolve_descriptors` instead of default resolve descriptors
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

update dtype API and get nightly wheels from new location
  .github/workflows/ci.yml
  asciidtype/asciidtype/src/asciidtype_main.c
  asv_benchmarks/asv.conf.json
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/README.md
  quaddtype/quaddtype/src/quaddtype_main.c
  stringdtype/README.md
  stringdtype/stringdtype/src/main.c
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

WIP: convert MetadataDType to a heap type
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  metadatadtype/metadatadtype/src/umath.c
  metadatadtype/metadatadtype/src/umath.h
Due: generate-compilation-database-metadatadtype

Add static PandasStringDType that uses pandas NA object
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/scalar.py
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

make StringDType a subtype of dtypemeta to store the NA object in the C struct
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

initialize stringdtype instances using a generic type
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

refactor so the na object lives in the class' tp_dict
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

clear error if pandas isn't importable, test without pandas installed
  .github/workflows/ci.yml
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

fix case where pandas isn't installed
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
Due: generate-compilation-database-stringdtype

fix uninstalling pandas on CI
  .github/workflows/ci.yml
Due: none

expand tests for PandasStringDType
  stringdtype/pyproject.toml
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

works again when pandas isn't installed
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

use buildtype meson argument to set debug and optimization build flags
  stringdtype/pyproject.toml
Due: none

WIP: add casts between stringdtype and pandasstringdtype
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

add round-trip casts between StringDType and PandasStringDType
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

WIP: adding promoter for equals and not_equals ufuncs
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Add a safe cast from object to string
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
Due: generate-compilation-database-stringdtype

fix logic in scalar fixture
  stringdtype/tests/test_stringdtype.py
Due: none

enable all comparison operators
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

fix logic error, add test
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

fix comparisons of unequal length strings
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

promote string to object in comparisons
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

simplify stringdtype get_value implementation
  stringdtype/stringdtype/src/dtype.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

simplify a bit using PyObject_Str
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

Add a bool to string cast
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

increment dtype API version in all dtypes
  asciidtype/asciidtype/src/asciidtype_main.c
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/quaddtype/src/quaddtype_main.c
  stringdtype/stringdtype/src/main.c
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

Path conditions:
  generate-compilation-database-metadatadtype: any of: metadatadtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-asciidtype: any of: asciidtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-quaddtype: any of: quaddtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-unytdtype: any of: unytdtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-stringdtype: any of: stringdtype/(meson\.build$|.*\.(c|h)$)
