Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

Path conditions:
  generate-compilation-database-metadatadtype: any of: metadatadtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-asciidtype: any of: asciidtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-quaddtype: any of: quaddtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-unytdtype: any of: unytdtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-stringdtype: any of: stringdtype/(meson\.build$|.*\.(c|h)$)

add round-trip casts between string and (u)int dtypes
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

simplify int to string casts
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

test casting safety
  stringdtype/tests/test_stringdtype.py
Due: none

rewrite int casts using macros
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

refactor to avoid repeating resolve_descriptors implementations
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

add casts for integer dtypes that don't have a sized alias
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

simplify declaring int cast specs with a macro
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

use a more idiomatic short name for unsigned int types
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

combine string int cast macros to simplify int cast setup
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

add casts between string and float[16, 32, 64]
  stringdtype/meson.build
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

use PyUFunc_GiveFloatingpointErrors
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/main.c
Due: generate-compilation-database-stringdtype

add comment explaining why we don't have casts for remaining numpy numeric dtypes
  stringdtype/stringdtype/src/casts.c
Due: generate-compilation-database-stringdtype

increment dtype API version in all dtypes
  asciidtype/asciidtype/src/asciidtype_main.c
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  quaddtype/quaddtype/src/quaddtype_main.c
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype

Make stringdtype parametric on na_object again
  stringdtype/pyproject.toml
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/scalar.py
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

make tests pass when pandas isn't installed
  stringdtype/tests/test_stringdtype.py
Due: none

fix copy/paste error in na_object member docstring
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

no need to explicitly specify b_ndebug=false in meson config
  stringdtype/pyproject.toml
Due: none

Add a multiply ufunc
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

generalize multiply ufunc to work for all int dtypes
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

clean up numpy includes and target numpy 2.0 C API
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

add round-trip casts for datetime64
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Fix NaT handling
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

use numpy scalar in float to string cast
  stringdtype/stringdtype/src/casts.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Make stringdtype.NA a singleton so pickle doesn't create new instances
  stringdtype/stringdtype/missing.py
Due: none

Add option to prevent coercing data to strings
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Fix NotImplemented reference counting
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

refactor richcompare
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

make a little friendlier to subclasses
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

make the default string dtype not have an NA object
  stringdtype/meson.build
  stringdtype/stringdtype/__init__.py
  stringdtype/stringdtype/missing.py
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

make StringDType_richcompare do the right thing when na_object=nan
  stringdtype/stringdtype/src/dtype.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

flesh out NULL handling
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

build in release mode by default; fix bugs revealed
  stringdtype/pyproject.toml
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

use the pandas nightly wheel in CI
  .github/workflows/ci.yml
Due: none

try a different pip invocation
  .github/workflows/ci.yml
Due: none

one more try
  .github/workflows/ci.yml
Due: none

don't use old wheel upload location
  .github/workflows/ci.yml
Due: none

fix incompatible pointer warning
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

test the hashes are unique
  stringdtype/tests/test_stringdtype.py
Due: none

don't store terminating NULLs in the string storage
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

add an explicit test that embedded and trailing nulls are stored properly
  stringdtype/tests/test_stringdtype.py
Due: none
