Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

generate-compilation-database-metadatadtype:
  name: Generate compilation database [metadatadtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd metadatadtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-asciidtype:
  name: Generate compilation database [asciidtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd asciidtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-quaddtype:
  name: Generate compilation database [quaddtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd quaddtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-unytdtype:
  name: Generate compilation database [unytdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd unytdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

generate-compilation-database-stringdtype:
  name: Generate compilation database [stringdtype]
  language: system
  require_serial: true
  entry: 'bash -c ''cd stringdtype && mkdir -p build && pip install build meson-python patchelf wheel && python -m build --wheel --no-isolation -Cbuilddir=build'';
  
    '
  fail_fast: false

use more very long strings in the tests
  stringdtype/tests/test_char.py
  stringdtype/tests/test_stringdtype.py
Due: none

store the sizes of small strings in a char
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

calculate the address of the size in a different way
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

store the flag in the packed string
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

remove outdated comment
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

skip find and rfind tests for now
  stringdtype/tests/test_char.py
Due: none

add an allocator mutex
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

fix bug when growing a medium string and when freeing a string associated with a newly allocated arena
  stringdtype/stringdtype/src/static_string.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

account for in-place operations in add and multiply
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Fix incorrect usage of mutex with identical dtypes
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Some renames following the NEP
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
Due: generate-compilation-database-stringdtype

free the allocator in the descriptor deallocator
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

fix reference counting bug in usage of get_value
  stringdtype/stringdtype/src/dtype.c
Due: generate-compilation-database-stringdtype

give all the string API functions NpyString names
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

update README
  stringdtype/README.md
Due: none

refactor so npy_packed_static_string is an opaque struct
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

skip more np.char functions that are ufuncs now
  stringdtype/tests/test_char.py
Due: none

refactor to avoid storing a packed string on the descr
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
Due: generate-compilation-database-stringdtype

convert allocator mutex macros to inline functions
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/umath.c
Due: generate-compilation-database-stringdtype

define ARENA_EXPANSION_FACTOR and set it to 1.25 instead of 2.0
  stringdtype/stringdtype/src/static_string.c
Due: generate-compilation-database-stringdtype

skip two more np.char tests
  stringdtype/tests/test_char.py
Due: none

test more corner cases in the allocator acquire/release code
  stringdtype/tests/test_stringdtype.py
Due: none

add a promoter for multiplying with a python int
  stringdtype/stringdtype/src/umath.c
  stringdtype/tests/test_stringdtype.py
Due: generate-compilation-database-stringdtype

Update stringdtype for NumPy 2.0
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/dtype.h
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/static_string.c
  stringdtype/stringdtype/src/static_string.h
  stringdtype/stringdtype/src/umath.c
  stringdtype/stringdtype/src/umath.h
  stringdtype/tests/test_char.py
Due: generate-compilation-database-stringdtype

update metadatadtype for numpy 2.0
  metadatadtype/metadatadtype/src/casts.c
  metadatadtype/metadatadtype/src/casts.h
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  metadatadtype/metadatadtype/src/umath.c
  metadatadtype/metadatadtype/src/umath.h
Due: generate-compilation-database-metadatadtype

Update asciidtype for numpy 2.0
  asciidtype/asciidtype/src/asciidtype_main.c
  asciidtype/asciidtype/src/casts.c
  asciidtype/asciidtype/src/casts.h
  asciidtype/asciidtype/src/dtype.c
  asciidtype/asciidtype/src/dtype.h
  asciidtype/asciidtype/src/umath.c
  asciidtype/asciidtype/src/umath.h
Due: generate-compilation-database-asciidtype

update unytdtype to work with numpy 2.0
  unytdtype/unytdtype/src/casts.c
  unytdtype/unytdtype/src/casts.h
  unytdtype/unytdtype/src/dtype.c
  unytdtype/unytdtype/src/dtype.h
  unytdtype/unytdtype/src/umath.c
  unytdtype/unytdtype/src/umath.h
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-unytdtype

update quaddtype to work on numpy 2.0
  quaddtype/quaddtype/src/casts.c
  quaddtype/quaddtype/src/casts.h
  quaddtype/quaddtype/src/dtype.c
  quaddtype/quaddtype/src/dtype.h
  quaddtype/quaddtype/src/quaddtype_main.c
  quaddtype/quaddtype/src/umath.c
  quaddtype/quaddtype/src/umath.h
Due: generate-compilation-database-quaddtype

Update mpfdtype for numpy 2.0
  mpfdtype/mpfdtype/src/casts.cpp
  mpfdtype/mpfdtype/src/dtype.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  mpfdtype/mpfdtype/src/numbers.cpp
  mpfdtype/mpfdtype/src/scalar.c
  mpfdtype/mpfdtype/src/terrible_hacks.c
  mpfdtype/mpfdtype/src/umath.cpp
  mpfdtype/mpfdtype/src/umath.h
Due: none

add scripts to help building and debugging
  asciidtype/reinstall.sh
  metadatadtype/reinstall.sh
  mpfdtype/reinstall.sh
  quaddtype/reinstall.sh
  stringdtype/reinstall.sh
  unytdtype/reinstall.sh
Due: none

update stringdtype readme
  stringdtype/README.md
Due: none

Use unique symbol for ufunc API
  asciidtype/asciidtype/src/asciidtype_main.c
  asciidtype/asciidtype/src/casts.c
  asciidtype/asciidtype/src/dtype.c
  asciidtype/asciidtype/src/umath.c
  asciidtype/asciidtype/src/umath.h
  metadatadtype/metadatadtype/src/casts.c
  metadatadtype/metadatadtype/src/dtype.c
  metadatadtype/metadatadtype/src/dtype.h
  metadatadtype/metadatadtype/src/metadatadtype_main.c
  metadatadtype/metadatadtype/src/umath.c
  metadatadtype/metadatadtype/src/umath.h
  mpfdtype/mpfdtype/src/casts.cpp
  mpfdtype/mpfdtype/src/dtype.c
  mpfdtype/mpfdtype/src/mpfdtype_main.c
  mpfdtype/mpfdtype/src/umath.cpp
  mpfdtype/mpfdtype/src/umath.h
  quaddtype/quaddtype/src/quaddtype_main.c
  quaddtype/quaddtype/src/umath.c
  quaddtype/quaddtype/src/umath.h
  stringdtype/stringdtype/src/casts.c
  stringdtype/stringdtype/src/casts.h
  stringdtype/stringdtype/src/dtype.c
  stringdtype/stringdtype/src/main.c
  stringdtype/stringdtype/src/umath.c
  stringdtype/stringdtype/src/umath.h
  unytdtype/unytdtype/src/casts.c
  unytdtype/unytdtype/src/dtype.c
  unytdtype/unytdtype/src/umath.c
  unytdtype/unytdtype/src/umath.h
  unytdtype/unytdtype/src/unytdtype_main.c
Due: generate-compilation-database-metadatadtype, generate-compilation-database-asciidtype, generate-compilation-database-quaddtype, generate-compilation-database-unytdtype, generate-compilation-database-stringdtype

fix CI build error
  asciidtype/asciidtype/src/casts.c
Due: generate-compilation-database-asciidtype

Fix migration I missed in quaddtype
  quaddtype/quaddtype/src/casts.c
  quaddtype/quaddtype/src/dtype.c
  quaddtype/quaddtype/src/quaddtype_main.c
  quaddtype/quaddtype/src/umath.c
Due: generate-compilation-database-quaddtype

initial commit, adding Float128 dtype
  quaddtype2/README.md
  quaddtype2/pyproject.toml
  quaddtype2/quaddtype/__init__.py
  quaddtype2/quaddtype/scalar.py
  quaddtype2/quaddtype/src/dtype.c
  quaddtype2/quaddtype/src/dtype.h
  quaddtype2/quaddtype/src/quaddtype_main.c
Due: generate-compilation-database-quaddtype

sleef based quadprecision
  quaddtype2/meson.build
  quaddtype2/quaddtype/__init__.py
  quaddtype2/quaddtype/quadscalar.py
  quaddtype2/quaddtype/src/dtype.c
  quaddtype2/reinstall.sh
Due: generate-compilation-database-quaddtype

fixing numpy absolute include path
  quaddtype2/meson.build
Due: none

adding quad precision support with sleef
  quaddtype2/meson.build
  quaddtype2/quaddtype/__init__.py
  quaddtype2/quaddtype/quadscalar.py
  quaddtype2/quaddtype/src/dtype.c
  quaddtype2/quaddtype/src/dtype.h
  quaddtype2/quaddtype/src/quaddtype_main.c
  quaddtype2/quaddtype/src/scalar.c
  quaddtype2/quaddtype/src/scalar.h
  quaddtype2/reinstall.sh
Due: generate-compilation-database-quaddtype

fixing sleef linking issues in meson
  quaddtype2/meson.build
  quaddtype2/reinstall.sh
Due: none

Path conditions:
  generate-compilation-database-metadatadtype: any of: metadatadtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-asciidtype: any of: asciidtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-quaddtype: any of: quaddtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-unytdtype: any of: unytdtype/(meson\.build$|.*\.(c|h)$)
  generate-compilation-database-stringdtype: any of: stringdtype/(meson\.build$|.*\.(c|h)$)
