Repository numpy/numpy-user-dtypes: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-compilation-database, include-what-you-use

.pre-commit-config.yaml:

exclude: (casts\.(c|h)|umath\.(c|h))
repos:
  - repo: local
    hooks:
      - id: generate-compilation-database
        name: Generate compilation database
        files: (^meson\.build$|\.(c|h)$)
        language: system
        entry: bash -c 'python -m build --wheel --no-isolation -Cbuilddir=build'
        fail_fast: true
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-tidy
        args: [-p=build]
      - id: clang-format
        args: ['--style={BasedOnStyle: Google, ColumnLimit: "100", IndentWidth: "4"}', -i, ]
      # - id: uncrustify
      #   args: [--replace, --no-backup]
      # - id: oclint
      # - id: cppcheck
  - repo: local
    hooks:
      - id: include-what-you-use
        name: Include What You Use
        types: ['c', 'c++']
        language: system
        entry: iwyu-tool -p build
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-docstrings,
            flake8-mutable,
            flake8-debugger,
            flake8-pytest-style,
            flake8-simplify,
            pep8-naming,
            darglint,
          ]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.0
    hooks:
      - id: prettier
        types:
          [
            markdown,
            yaml,
          ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.971"
    hooks:
      - id: mypy
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

Make pre-commit more robust; bump API to v5; clean meson.build a bit
  .pre-commit-config.yaml
  meson.build
  quaddtype/src/quaddtype_main.c
Due: generate-compilation-database

Fixed parametrized dtype
  quaddtype/src/dtype.c
Due: generate-compilation-database

initial commit
  .pre-commit-config.yaml
  LICENSE
  meson.build
  metadatadtype/__init__.py
  metadatadtype/_helpers.py
  metadatadtype/scalar.py
  metadatadtype/src/casts.c
  metadatadtype/src/casts.h
  metadatadtype/src/dtype.c
  metadatadtype/src/dtype.h
  metadatadtype/src/umath.c
  metadatadtype/src/umath.h
  metadatadtype/src/unitdtype_main.c
Due: generate-compilation-database, include-what-you-use

builds now
  .pre-commit-config.yaml
  meson.build
  metadatadtype/src/metadatadtype_main.c
Due: generate-compilation-database

add readme
  README.md
Due: none

make it so it builds and installs, with instructions
  .gitignore
  README.md
  pyproject.toml
Due: none

work around experimental dtype API not being up-to-date in numpy 1.23
  README.md
  metadatadtype/__init__.py
  metadatadtype/src/metadatadtype_main.c
  pyproject.toml
Due: generate-compilation-database

turn build isolation on and depend on a local build of numpy to make iteration faster
  README.md
  pyproject.toml
Due: none

strip out more stuff, need to add a MetadataScalar still
  meson.build
  metadatadtype/__init__.py
  metadatadtype/_helpers.py
  metadatadtype/scalar.py
  metadatadtype/src/casts.c
  metadatadtype/src/casts.h
  metadatadtype/src/dtype.c
  metadatadtype/src/dtype.h
  metadatadtype/src/metadatadtype_main.c
  metadatadtype/src/umath.c
  metadatadtype/src/umath.h
Due: generate-compilation-database, include-what-you-use

Add a comment and a test
  .flake8
  quaddtype/src/dtype.c
  tests/test_quaddtype.py
Due: generate-compilation-database

can create instances
  meson.build
  metadatadtype/__init__.py
  metadatadtype/scalar.py
  metadatadtype/src/casts.c
  metadatadtype/src/casts.h
  metadatadtype/src/dtype.c
  metadatadtype/src/dtype.h
  metadatadtype/src/metadatadtype_main.c
Due: generate-compilation-database, include-what-you-use

Implement a quad scalar type; now need to add casts
  meson.build
  quaddtype/__init__.py
  quaddtype/quadscalar.py
  quaddtype/src/casts.h
  quaddtype/src/dtype.c
  quaddtype/src/dtype.h
  quaddtype/src/quaddtype_main.c
Due: generate-compilation-database, include-what-you-use

fix issues with reference counts and error handling
  meson.build
  metadatadtype/scalar.py
  metadatadtype/src/dtype.c
Due: generate-compilation-database

fix reference counting bug, i'm not sure why this works
  metadatadtype/src/dtype.c
Due: generate-compilation-database

add multiply ufunc
  meson.build
  metadatadtype/src/metadatadtype_main.c
  metadatadtype/src/umath.c
  metadatadtype/src/umath.h
Due: generate-compilation-database

fix compiler warnings
  metadatadtype/src/dtype.c
  metadatadtype/src/metadatadtype_main.c
Due: generate-compilation-database

Add dummy get_loop; add debugging symbols to build
  meson.build
  quaddtype/src/casts.c
  quaddtype/src/casts.h
Due: generate-compilation-database

turn on pre-commit
  .gitignore
  .pre-commit-config.yaml
  LICENSE
  metadatadtype/__init__.py
  pyproject.toml
Due: none

make flake8 happy
  .flake8
  metadatadtype/__init__.py
Due: none

run clang-format
  .clang-format
  .pre-commit-config.yaml
  metadatadtype/__init__.py
  metadatadtype/scalar.py
  metadatadtype/src/casts.c
  metadatadtype/src/casts.h
  metadatadtype/src/dtype.c
  metadatadtype/src/dtype.h
  metadatadtype/src/metadatadtype_main.c
  metadatadtype/src/umath.c
  metadatadtype/src/umath.h
Due: generate-compilation-database, include-what-you-use

Force a cast in quaddtype_main; remove unused code
  quaddtype/src/casts.c
  quaddtype/src/quaddtype_main.c
Due: generate-compilation-database

initial commit, builds successfully
  .gitignore
  LICENSE
  README.md
  meson.build
  pyproject.toml
  unytdtype/__init__.py
  unytdtype/scalar.py
  unytdtype/src/casts.c
  unytdtype/src/casts.h
  unytdtype/src/dtype.c
  unytdtype/src/dtype.h
  unytdtype/src/umath.c
  unytdtype/src/umath.h
  unytdtype/src/unytdtype_main.c
Due: generate-compilation-database, include-what-you-use

fix initialization
  unytdtype/__init__.py
  unytdtype/src/casts.c
  unytdtype/src/dtype.c
Due: generate-compilation-database

more fixes; formatting
  unytdtype/scalar.py
  unytdtype/src/casts.c
  unytdtype/src/dtype.c
Due: generate-compilation-database

formatting; get coercion from numeric dtype to units working
  unytdtype/src/casts.c
  unytdtype/src/dtype.c
Due: generate-compilation-database

add tests
  tests/conftest.py
  tests/test_unytdtype.py
  unytdtype/src/dtype.c
Due: generate-compilation-database

reformat with numpy's clang-format config
  .clang-format
  unytdtype/src/casts.c
  unytdtype/src/casts.h
  unytdtype/src/dtype.c
  unytdtype/src/umath.c
  unytdtype/src/unytdtype_main.c
Due: generate-compilation-database

allow casting to float64
  unytdtype/src/casts.c
  unytdtype/src/casts.h
  unytdtype/src/dtype.c
Due: generate-compilation-database

fix tab/space issues
  unytdtype/src/casts.c
Due: none

refactor to make more stuff static
  tests/test_unytdtype.py
  unytdtype/src/casts.c
Due: none

as_type('float64') works, can_cast doesn't
  unytdtype/src/casts.c
Due: none

use safe casting instead of same_kind
  unytdtype/src/casts.c
Due: none

fix typo in test
  tests/test_unytdtype.py
Due: none

add pycache to gitiginore
  .gitignore
Due: none

avoid memcpy using direct assignment
  unytdtype/src/casts.c
Due: none

free memory malloc'd in get_casts
  unytdtype/src/dtype.c
Due: generate-compilation-database

Added development version of numpy as dependency
  pyproject.toml
Due: none

add ensure_canonical to avoid needing a resolve descriptors function for unit to float64 cast
  unytdtype/src/casts.c
  unytdtype/src/dtype.c
Due: generate-compilation-database

Added missing 'wheel' dependency for generating compilation database
  .pre-commit-config.yaml
Due: none

Add pytest as test dependency
  pyproject.toml
  quaddtype/__init__.py
  quaddtype/src/quaddtype_main.c
Due: generate-compilation-database
